@model MyCosmetologist.Web.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceFirst)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceFirst)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceLast)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceLast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index" class="btn btn-secondary">Повернутись</a>
</div>
