@model MyCosmetologist.Web.ViewModel.ClientsViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                SurName
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Birth
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color: gray"><i class="fas fa-pencil-alt fa-lg" style="margin-right: 20px"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: gray"><i class="fas fa-info-circle fa-lg" style="margin-right: 20px"></i></a>
                    <a style="color: gray" onclick="deleteClient(@item.Id)"><i class="fas fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table> 
