@model MyCosmetologist.Web.ViewModel.RecordsViewModel
<table class="table">
    <thead>
        <tr>
            <th>
                Дата
            </th>
            <th>
                Клієнт
            </th>
            <th>
                Процедура
            </th>
            <th>
                Препарат
            </th>
            <th>
                Об'єм
            </th>
            <th>
                Ціна
            </th>
            <th>
                Коментар
            </th>
            <th>
                Результат
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color: teal"><i class="fas fa-pencil-alt fa-lg" style="margin-right: 20px"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" style="color: teal"><i class="fas fa-info-circle fa-lg" style="margin-right: 20px"></i></a>
                <a style="color: teal" onclick="deleteRecord(@item.Id)"><i class="fas fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>