@model IEnumerable<MyCosmetologist.ViewModel.ProcedureViewModel>

@{
    ViewData["Title"] = "Index";
}

    <h1>Усі процедури</h1>

    <p>
        <a asp-action="Create">Створити Процедуру</a>
        @* @Html.ActionLink("Create New Procedure", "Create", null, new { @class = "btn btn-primary", style = "margin: 3px" })*@
        <a style="margin: 3px" class="btn btn-primary" href="/Procedure/Create">Створити Процедуру</a>
        <a style="margin: 3px" class="btn btn-primary" href="/CategoryProcedure/Create">Створити Категорію</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameProcedure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preparation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryProcedyre_)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameProcedure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryProcedyre_.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
