@model MyCosmetologist.Web.ViewModel.ProceduresViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Preparat
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preparat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcedureCategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="color: gray"><i class="fas fa-pencil-alt fa-lg" style="margin-right: 20px"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" style="color: gray"><i class="fas fa-info-circle fa-lg" style="margin-right: 20px"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" style="color: gray"><i class="fas fa-trash-alt fa-lg"></i></a>

                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|*@
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>|*@
                    @*<a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


